In [1]:
import pandas as pd

In [2]:
df4 = pd.DataFrame(
    {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7],
)

In [3]:
df1 = pd.DataFrame(

    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"]
    }

)

In [11]:
df = pd.concat([df1, df4], axis = 1, join = 'inner')

In [9]:
df.head()

     A    B    C    B    D    F
0   A0   B0   C0  NaN  NaN  NaN
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2   B2   D2   F2
3   A3   B3   C3   B3   D3   F3
6  NaN  NaN  NaN   B6   D6   F6

In [19]:
df.iloc[0:3, 0:3]

    A   B   C
2  A2  B2  C2
3  A3  B3  C3

In [30]:
df.loc[2]

A    A2
B    B2
C    C2
B    B2
D    D2
F    F2
Name: 2, dtype: object