In [9]:
import pandas as pd

In [11]:
df = pd.read_csv("~/apps/chatbom/data/lds-scriptures-cleaned.csv")

In [12]:
df.head()

,volume_id,book_id,chapter_id,verse_id,volume_title,book_title,volume_long_title,book_long_title,volume_subtitle,book_subtitle,volume_short_title,book_short_title,volume_lds_url,book_lds_url,chapter_number,verse_number,scripture_text,verse_title,verse_short_title
0,3,67,1190,31103,Book of Mormon,1 Nephi,The Book of Mormon,The First Book of Nephi,Another Testament of Jesus Christ,His Reign and Ministry,BoM,1 Ne.,bofm,1-ne,1,1,"I, Nephi, having been born of goodly parents, ...",1 Nephi 1:1,1 Ne. 1:1
1,3,67,1190,31104,Book of Mormon,1 Nephi,The Book of Mormon,The First Book of Nephi,Another Testament of Jesus Christ,His Reign and Ministry,BoM,1 Ne.,bofm,1-ne,1,2,"Yea, I make a record in the language of my fat...",1 Nephi 1:2,1 Ne. 1:2
2,3,67,1190,31105,Book of Mormon,1 Nephi,The Book of Mormon,The First Book of Nephi,Another Testament of Jesus Christ,His Reign and Ministry,BoM,1 Ne.,bofm,1-ne,1,3,And I know that the record which I make is tru...,1 Nephi 1:3,1 Ne. 1:3
3,3,67,1190,31106,Book of Mormon,1 Nephi,The Book of Mormon,The First Book of Nephi,Another Testament of Jesus Christ,His Reign and Ministry,BoM,1 Ne.,bofm,1-ne,1,4,For it came to pass in the commencement of the...,1 Nephi 1:4,1 Ne. 1:4
4,3,67,1190,31107,Book of Mormon,1 Nephi,The Book of Mormon,The First Book of Nephi,Another Testament of Jesus Christ,His Reign and Ministry,BoM,1 Ne.,bofm,1-ne,1,5,"Wherefore it came to pass that my father, Lehi...",1 Nephi 1:5,1 Ne. 1:5

In [7]:
# test pinecone connection 
import pinecone 
pinecone.init(api_key = "93421e0e-b7bf-4885-b9b6-3e599940c0be", environment = "us-east1-gcp")

In [8]:
pinecone.list_indexes()

['chatbom']

In [2]:
df4 = pd.DataFrame(
    {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7],
)

In [3]:
df1 = pd.DataFrame(

    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"]
    }

)

In [11]:
df = pd.concat([df1, df4], axis = 1, join = 'inner')

In [9]:
df.head()

     A    B    C    B    D    F
0   A0   B0   C0  NaN  NaN  NaN
1   A1   B1   C1  NaN  NaN  NaN
2   A2   B2   C2   B2   D2   F2
3   A3   B3   C3   B3   D3   F3
6  NaN  NaN  NaN   B6   D6   F6

In [19]:
df.iloc[0:3, 0:3]

    A   B   C
2  A2  B2  C2
3  A3  B3  C3

In [30]:
df.loc[2]

A    A2
B    B2
C    C2
B    B2
D    D2
F    F2
Name: 2, dtype: object