In [1]:
import pandas as pd 
import os 
import numpy as np 
import seaborn as sns

In [2]:
df = pd.read_csv("MBA 506 (602) SUM1 2020-Week 2 Quiz-grades.csv", sep=',')

In [3]:
df.head()

,Last name,First name,Email address,State,Started on,Completed,Time taken,Grade/10,Q. 1 /1,Q. 2 /1,Q. 3 /1,Q. 4 /1,Q. 5 /1,Q. 6 /1,Q. 7 /1,Q. 8 /1,Q. 9 /1,Q. 10 /1
0,Pelletier,Mary Beth,mepelle2@ncsu.edu,Finished,May 18 2020 7:11 PM,May 18 2020 7:27 PM,15 mins 46 secs,10,1,1,1,1,1,1,1,1,1,1
1,Zarin,Sam,sjharri3@ncsu.edu,Finished,May 19 2020 7:51 AM,May 19 2020 8:09 AM,18 mins 50 secs,6,1,1,1,0,0,1,1,0,1,0
2,Duan,Zane,zduan@ncsu.edu,Finished,May 20 2020 7:17 PM,May 20 2020 7:34 PM,17 mins 47 secs,10,1,1,1,1,1,1,1,1,1,1
3,Slappey,Kristen,knslappe@ncsu.edu,Finished,May 20 2020 10:22 PM,May 20 2020 10:32 PM,9 mins 30 secs,10,1,1,1,1,1,1,1,1,1,1
4,Aurrichio,Ryan,rjaurric@ncsu.edu,Finished,May 20 2020 10:43 PM,May 20 2020 11:03 PM,20 mins,8,1,1,1,1,1,1,0,0,1,1

In [24]:
# loop through to find "-" marks & turn into int
df = df.replace('-', 0)
#df = df['Q. 1 /1'].apply(lambda s: eval(str(s)))

In [11]:
# subset dataset to only have the questions 
df_q = df.iloc[:, 7:]

Grade/10    8.080808
dtype: float64

In [ ]:
def turn2int(dataset):
    # remove "-" values and turn them into 0's
    data = dataset.replace('-', 0)
    
    # splice dataset to only take 7th on value 
    df_questions = df.iloc[:, 7:]
    
    # convert into integer as type
    
    for x in df_questions:
        
    df_qustions = df_questions.astype(int)

In [14]:
df_q.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 11 columns):
Grade/10    99 non-null int64
Q. 1 /1     99 non-null object
Q. 2 /1     99 non-null object
Q. 3 /1     99 non-null object
Q. 4 /1     99 non-null object
Q. 5 /1     99 non-null object
Q. 6 /1     99 non-null object
Q. 7 /1     99 non-null object
Q. 8 /1     99 non-null object
Q. 9 /1     99 non-null object
Q. 10 /1    99 non-null object
dtypes: int64(1), object(10)
memory usage: 8.6+ KB

In [32]:
for x in df_q:
    print(x)

Grade/10
Q. 1 /1
Q. 2 /1
Q. 3 /1
Q. 4 /1
Q. 5 /1
Q. 6 /1
Q. 7 /1
Q. 8 /1
Q. 9 /1
Q. 10 /1

In [ ]:
for x in question:
    print(x.mean())

In [4]:
# calculate average time taken
df['Time taken'].mean()

TypeError: can only concatenate str (not "int") to str